__pycache__/
*.pyc
*.pyo
log/
received/
EncryptionKeyMessage.bin

sch_output.txt

# VS
.vs/

# Build tools / binaries
aria2-*/
tools/aria2-*/
tools/libjpeg/jpeg.exe
tools/Sanchez/
tools/libjpeg/LICENSE
tools/libjpeg/README

# Scripts

*.bat
*.cmd

# Logs
*.log
